body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.navbar-brand {
    font-weight: bold;
}
.post {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.sidebar {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sidebar-content {
    font-size: 16px;
    color: #333;
}

/* dashboard style */
.btn-like {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1rem; /* Adjust font size as needed */
    color: #000; /* Set color for the heart icon */
}

.btn-like:hover,
.btn-like:focus {
    background-color: transparent;
    color: #007bff; /* Set color for the heart icon on hover */
}
.customFooter {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 500px;
}